---
import "../../styles/post.css";
import Layout from "../../layouts/layout.astro";
import Badge from "../../components/badge.astro";;
import TableOfContents from "../../components/table-of-contents.astro";
import { getCollection, render } from "astro:content";
import { statusColorMap, languagesColorMap } from "../../data.ts"

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map(post => ({
        params: { slug: post.data.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter, headings } = await render(post);

const title = `${post.data.title} | zielinus.xyz`
const description = post.data.description;
const slug = `blog/${post.data.slug}`;
---

<Layout title={title} description={description} slug={slug} focused="blog">
    <div class="flex flex-col items-center w-full">
        <div class="flex xl:flex-row flex-col">
            <div class="flex flex-col lg:min-w-4xl md:min-w-3xl text-left">
                <div class="flex flex-col gap-1">
                    <div>
                        <p class="max-w-fit text-base text-primary hover:underline hover:decoration-wavy"><a href="/blog" target="_self" rel="noopener noreferrer"><- back</a></p>
                        <h1 class="text-5xl font-bold">{post.data.title}</h1>
                        <p class="text-xl text-gray-200 pt-1">{description}</p>
                    </div>
                    <div class="flex flex-col gap-1 pt-2">
                        <div class="flex flex-row gap-1">
                            <p class="text-base text-gray-300">Tags:</p>
                            <p class="text-base flex flex-row gap-1">
                            {
                                post.data.tags.map(tag => (
                                    <Badge text={tag} />
                                ))
                            }
                            </p>
                        </div>
                        <div class="flex flex-row gap-1">
                            <p class="text-base text-gray-300">Read Time:</p>
                            <p class="text-base text-gray-400">{remarkPluginFrontmatter.minutesRead}</p>
                        </div>
                        <div class="flex flex-row gap-1">
                            <p class="text-base text-gray-300">Updated:</p>
                            <p class="text-base text-gray-400">{post.data.updated}</p>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="content">
                    <Content />
                </div>
            </div>
            <div class="flex flex-col ml-6">
                <div class="xl:flex hidden xl:sticky xl:top-0 xl:pt-10">
                    <TableOfContents headings={headings} />
                </div>
            </div>
        </div>
    </div>
</Layout>

