---
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<meta charset='UTF-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<link rel='icon' href='/favicon.ico' type='image/x-icon' />
<link rel='apple-touch-icon' href='/logo192.png' />
<meta name='theme-color' content='#E000E4' />
<meta name='msapplication-TileColor' content='#E000E4' />
<meta name='msapplication-TileImage' content='/logo192.png' />
<meta name='description' content={description} />
<meta name='title' content={title} />

<title>{title}</title>

<meta property='og:title' content={title} />
<meta property='og:type' content='website' />
<meta property='og:url' content='https://www.zielinus.xyz' />
<meta property='og:image' content='https://www.zielinus.xyz/logo512.png' />
<meta property='og:site_name' content='Zielino' />
<meta property='og:description' content={description} />

<meta name='keywords' content='zielino zielinus zielin0 zielin' />

<a rel='me' href='https://mastodon.social/@zielino'></a>
